/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

html {
  scroll-behavior: smooth;
}
:root{
  --background-color1:white;
  --background-color:#614385;
  --color:white;
  --color1:black;
--nav-load-time:500ms;
--nav-link-load-time:500ms;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

#Skill{
  color: white;
  font-size: 20px;
}
#Home{
  font-size: 20px;
  color: white;
  /* /* position: relative;
  top: 10px; * */

}
body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;

}
.App{
  background-image: url('./assets/img/pexels-alex-andrews-816608.jpg');
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
#Contact{
  color: white;
}
.navbar-link{
position: relative;
top: 10px;
font-size: 20px;
color: white;
}
#Project{
  color: white;
  font-size:20px ;
  position: relative;
  /* margin-left: 10px; */
  /* margin-right: 20px; */
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;

    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
/******************** About me Css **************88*/
.achivmentssummary{
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
  /* border-radius: 1px solid; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.classofaboutme{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 55%;
border: 1px solid black;
height: 250px;
margin-top: 50px;
margin-left: 22%;
object-fit: cover;
/* margin-right: -200px; */
}
.aboutme{
 
  padding-bottom: 20px;
  padding-top: 20px;
}
.infogrid{
  width: 100%;
}
.aboutmeinfo{
border: 1px solid grey;
border-radius: 2%;  
height: max-content;
font-family: 'Noto Serif', serif;
color: white;
text-align: center;
margin-top: 50px;
width: 55%;
font-size: 20px;
margin-left: 22%;
box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.masaischoolstats{
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
row-gap: 10px;
column-gap: 20px;
margin-bottom: 20px;
}
.innerdiv{
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  color: wheat;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding-top:70px ;
  padding-bottom: 20px;
  font-size: 20px;
  font-family: "Noto-serif";
}

@media screen and (min-width: 762px) and (max-width: 1208px) { 
  .aboutmeinfo{
    width:fit-content;
    margin-right: "100px";
    margin-left: 0%;
    }
    .classofaboutme{
      width: fit-content;
      /* margin-bottom:"100px"; */
      margin-left: 4%;
      
    }


}
@media (max-width:762px) and (min-width:586px){
.codingkrtahuacoder{
 height: 150px;   
width: max-content;
}
.aboutmeinfo{
width:fit-content;
margin-right: "100px";
margin-left: 0%;
}
.classofaboutme{
  width: fit-content;
  margin-bottom:"100px";
  margin-left: 0%;
  object-fit: cover;
}
.achivement{
  position: relative;
  bottom: 30px;
}
.achivmentssummary{
  position: relative;
  bottom: 50px; 
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
.masaischoolstats{
  position: relative;
  bottom: 50px; 

}
.masaischoolstats{
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(6,1fr);
  row-gap: 30px;
}
}


@media (max-width:558px) {
  .codingkrtahuacoder{
    height: 150px;   
   width: max-content;
   }
   .aboutme{
    background-image: url("./assets/img/pexels-pixabay-36717.jpg");
   }
   .aboutmeinfo{
   width:fit-content;
   margin-right: "100px";
   margin-left: 0%;
   }
   .classimage{
   
    image-rendering: optimizeQuality;
   }
   .classofaboutme{
     width: fit-content;
     margin-bottom:"100px";
     margin-left: 0%;
     object-fit: cover;
   
   }
   .achivement{
     position: relative;
     bottom: 30px;
   }
   .achivmentssummary{
     position: relative;
     bottom: 50px; 
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   
   }
   .masaischoolstats{
     position: relative;
     bottom: 50px; 
   }
   .masaischoolstats{
     grid-template-columns: repeat(1,1fr);
     grid-template-rows: repeat(6,1fr);
     row-gap: 30px;
   }


  
}

/*  about me section*/

/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/pexels-alex-andrews-816608.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(100, 54, 124, 0.1) -5.91%, rgba(200, 47, 109, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.myimg{
  width: 90%;
  margin-top: 40px;
  margin-left:20px;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/************ Skills Css ************/
.skill {
  padding: 0 0 50px 0;
  position: relative;
  background-image: url('./assets/img/pexels-alex-andrews-816608.jpg');
  height: auto;
  text-align: center;
}
.skills{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(5,auto);
  row-gap: 30px;
  column-gap: 20px;
  text-align: center;
}
.techimage{
  width:40%;
  margin-left: 30%;
  margin-right: 30%;
  

}
.techskill{
  /* border: 1px solid hite; */
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  display: grid;
  text-align: center;
  animation: techskill 10 ease-in;
}

@keyframes techskill{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}

@media (max-width:567px){
  .skills{
    grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(15,auto);
  row-gap: 30px;
  column-gap: 20px;
  }

}
/************ Projects Css ************/
.project {
  padding: 80px 0;
  position: relative;
  margin-top: 100px;
  /* background-color: white !important; */
background-color: white !important
}
.project1{
display: flex;
width: 100%;
margin-top:50px;
height: max-content;
/* border: 1px solid white; */
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.right{
background-color: black;
  width: 100%;
  overflow-x: hidden;
  /* position: relative; */
  z-index: 0;
  opacity: 0.7;
margin-left: 5%;
margin-top:5%;
margin-bottom: 5%;
border-radius: 10%;
height: fit-content;
box-shadow: #63636333 0px 2px 8px 0px;
color: black;
/* border: 1px solid white; */
}

.left{
 width: 100%;
 text-align: center;
  position: relative;
  overflow-x: hidden;
  background-color:black;
  opacity: 1;
  /* height: max-content; */
  /* border: 5px solid white; */
  left: -50px;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  /* margin-right: px; */
  color: white;
  margin-top: 20%;
  margin-bottom: 10%;
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.techstack{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
padding-left: 20%;
  padding-right: 20%; 
}
.containerdiv{
  /* border: 1px solid white; */
  text-align: center;
}
.skillsused{
width: 75%;
margin-top: 10%;
margin-left:10%;
margin-right: 10%;
}
@media screen and (min-width: 762px) and (max-width: 1208px){
  .project1{
    display: grid;
    margin-top:50px;
    height: max-content;
    width: 100%; 
    margin-left: 10%;
    box-shadow: none;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px */
  }
  .left{
    width: 100%;
    background-color: #000;
    text-align: center;
     position: relative;
     z-index: 0;
     background-color:transparent;
     opacity: 1;
     /* left: 12%; */
     /* z-index: 1; */
     /* margin-right: px; */
     /* margin-top: %; */
     margin-bottom: 50px;
     margin-right: 10%;
     border-radius: 10%;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     background-color:#454545;
   }

   .right{
    background-color: black;
      width: 100%;
      position: relative;
      /* z-index: 0; */
right: 15%;
      /* opacity: 1; */
    bottom: -50px;
      margin-right: 15%;
    margin-top:5%;
    /* margin-bottom: 5%; */
    border-radius: 10%;
    height: fit-content;
    box-shadow: #63636333 0px 2px 8px 0px;
    color: white;
    /* border: 1px solid white; */
    }
    .project1:hover{
      transition: 1s;
      transform: scale(1);
    /* animation: ;   */
    }
    .techstack{
      /* border: 1px solid white; */
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 2% 25% 0% 25%;
     
  }
  

 
}
@media screen and (min-width: 300px) and (max-width: 762px){
  

.containerdiv{
width: auto;
/* border:1px solid white */
}

.project1{
    display: grid;
    width: 100%;
    margin-top:50px;
    height: max-content; 
    box-shadow: none;

  }
  .left{
    width: 100%;
    background-color:#454545;
    text-align: center;
     position: relative;
     background-color:transparent;
     opacity: 1;
     left: -13%;
     /* z-index: 1; */
     /* margin-right: px; */
     margin-top: 10%;
     margin-bottom: 10%;
     border-radius: 10%;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     background-color:#454545;
}


   .right{
    background-color: black;
    width: 100%;
    position: relative;
      /* z-index: 0; */
      /* opacity: 1; */
    margin-left: -12%;
    margin-top:5%;
    margin-bottom: -5%;
    border-radius: 10%;
    height: fit-content;
    box-shadow: #63636333 0px 2px 8px 0px;
    color: black;

}

.project1:hover{
transition: 1s;
transform: scale(1);
    /* animation: ;   */
    }

    .techstack{
      /* border: 1px solid white; */
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 2% 10% 0% 5%;
     
  }
  

}


/* githubcss */

.calendar-container {
  max-width: 100%;
  display: block;
  position: relative;
  text-align: center;
  /* padding: 20px; */
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 5%;
  display: flex;
  /* border: 1px solid black; */
  justify-content: center;
  /* margin-left: 20%; */
  /* margin-right: 30%; */
}

.imagecontainer{
width: 60%;
}
.react-github-calendar-graph {
  max-width: 100%;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 600px) {
  .calendar-container .react-github-calendar-graph {
    width: 300px;
    height: 100px;
  }
  .githubstateimage{
    width: 100%;
    margin-left: 20%;
  }
}

@media screen and (max-width: 600px)  {
.githubstateimage{
    width: 100%;
    margin-left: 20%;
}
.calendar-container{
/* padding: 50px; */
}

}

@media screen and (max-width: 428px){
.calendar-container{
    /* padding: 250px; */
  /* margin-left: 10px; */
  padding-left: 20px;
  padding-right: 20px;
  /* margin-right: 50px; */
    /* margin: 100px; */
}
}


/*  */
/************ Projects Css ************/

.contact {
  background: linear-gradient(90.21deg, brown -5.91%,black 111.58%);
  padding: 60px 0 200px 0;
}

.contactsbottom:hover{
cursor: pointer;
}
.contact img {
  width: 92%;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

/************ Footer Css ************/
.footer {
  padding: 0 0 50px 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.newsletter-bx {
  background: #FFFFFF;
  border-radius: 55px;
  color: #121212;
  padding: 85px 125px;
  margin-bottom: 80px;
  margin-top: -122px;
}
.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}
.new-email-bx {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}
.new-email-bx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}
.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}
.new-email-bx button {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 20px 65px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}
.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

/* contact-section css*/

.social-icon{
  margin-bottom: -30%;  
}
.animate__animated animate__zoomIn{
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  margin-top: -180px;
}



@media (max-width:1200px) {
  .social-icon{
    margin-bottom: 40%;
    margin-left: -5%;
  }

}
@media (max-width:1130px) {
  .social-icon{
    margin-bottom: 40%;
    margin-left: -10%;
  }

}
@media (max-width:1047px) {
  .social-icon{
    margin-bottom: 60%;
    margin-left: -0%;
  }

}
@media (max-width:990px) {
  .social-icon{
    margin-bottom: 100%;
    margin-left: -30%;
  }

}


/* @media (min-width:600px) {
  .social-icon{
    margin-bottom: 30%;
    margin-left: -40%;
  }
.contactgif{
  margin-top: -200px;
}
} */




@media (max-width:919px) {
  .social-icon{
    margin-bottom: 100%;
    margin-left: -7%;
  }

}
/* contact-section css */

@media (min-width:767px) {
	main .container {
		/* max-width: 100%; */
		padding: 0 150px;
	}
  .social-icon{
    margin-bottom: 100%;
    margin-left: -7%;
  }
}
@media (max-width:567px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}

  .proj-imgbx {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 24px;
    height: 500px;
    margin-left: -15%;
  }

}